@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #F1F1F1
}
button{
  color: white;
  background-color: rgba(135, 158, 179, 1);
  height: 2rem;
  border-radius: 6px;  
}

input{
  border-radius: 6px;
  border: solid rgba(153, 172, 183, 1) 1px;
  height: 2rem;
  padding: 2px;
}
input:focus{
  outline: none;
  border: solid rgba(153, 172, 183, 1) 1px;
}
